/* Nav Styles */
nav {
  background-color: #6686FF;
}
nav ul {
  display:flex;
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style:  none;
  height: 54px;
  width: 160px;
}
nav ul li:hover {
  background-color: #B3C2FF;
}
nav ul li a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

.content {
    padding: 0 20px;
}

.static-title {
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2);
    margin: 8px 0px;
    padding: 4px 8px;
}

.static-title h1, .static-title p {
    margin: 8px;
}

.projects li, .contacts li {
    padding: 8px 0px;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
    height: 100%;
    width: 100%;
}

html * {
    font-family: sans-serif !important;
}

section {
    flex: 1;
    display: flex;
}

aside {
    flex: 1;
    background-color: #363A4C;
    color: white
}

aside div {
    padding: 10px
}

article {
    flex: 4;
}

a {
  text-decoration: none;
  color: #6686FF;
}
